#list.pure-u-1
  %div{:style => "display: table; width: 100%;"}
    %a.pure-button#story{:href => "/wizard/story?sid=#{@story.id}", :style => "display: table-cell"} Story
    %a.pure-button#add_tag{:href => "/wizard/action?action=add_tag&sid=#{@story.id}", :style => "display: table-cell"} Add tag
  - select_tag = (@tag and not @travel_option)
  - select_travel_option = (@travel_option)
  - @story.tags.each do | tag |
    -# Use email-item-unread for colors, can be used to color the different type of tags, one color for qr, another for gps
    - selected_class = 'email-item'
    - if select_tag and @tag.id == tag.id
      - selected_class = 'email-item-selected'

    %div{:class => "email-item pure-g #{selected_class}"}
      .pure-u
        -# the image can be used to show that the tag uses games, so that we have one image for camera, another for quiz
        -#%img.email-avatar{:alt => "Tilo Mitra's avatar", :height => "64", :src => "img/common/tilo-avatar.png", :width => "64"}
      .pure-u-3-4
        -#%h5.email-name
        %h4.email-subject
          = tag.title
        %p.email-desc
          = tag.description[0, 40]
        %a.secondary-button.pure-button{:href => "/wizard/tag?sid=#{@story.id}&tid=#{tag.id}"} Edit
    - tag.travel_options.each do | option |
      - selected_class = 'email-item'
      - if select_travel_option and @travel_option.id == option.id
        - selected_class = 'email-item-selected'
        
      %div{:class => "email-item pure-g #{selected_class}"}
        .pure-u
        .pure-u-3-4
          %h5.email-name
            - if option.answer && !option.answer.empty?
              = option.answer[0, 40]
            - else
              = option.title[0, 40]
            %a.secondary-button.pure-button{:href => "/wizard/travel-option?sid=#{@story.id}&tid=#{tag.id}&toid=#{option.id}"} Edit
