!!!
%html
  %head
    = haml :'templates/header_imports'
    %link{:href => "/css/layouts/blog.css", :rel => "stylesheet"}
    %link{:href => "/css/layouts/email.css", :rel => "stylesheet"}
    %link{:href => "/css/pikaday.css", :rel => "stylesheet"}
  %body
    = haml :'templates/nav'
    
    #layout.content.pure-g
      = haml :'wizard/sidebar'

      #main.pure-u-1
        - if @tag.errors
          - @tag.errors.full_messages.each do | message |
            = message
            %br

        %form.pure-form.pure-form-aligned{:method => "POST", :role => "form", :enctype => "multipart/form-data"}
          %fieldset
            %legend Tag wizard
          .pure-control-group
            %label{:for => 'title'} Title:
            %input#title{:type => "text", :name => "tag[title]", :value => @tag.title}
            %img{:src => "/images/information-icon.png", 'data-ot' => "You can set the title of each tag screen. Will change the title in the action bar."}
          .pure-control-group
            %label{:for => 'description'} Description:
            %textarea#description{:name => "tag[description]", :rows => "6", :cols => "23"}
              = @tag.description
          .pure-control-group
            %label{:for => "image_top"} Tag image (top):
            %input#image_top{:type => "file", :name => "content[top]"}
            - unless @tag.image_top.nil?
              .pure-control-group
                %img{:src => "https://s3-eu-west-1.amazonaws.com/tagstory/stories/#{@tag.story_id}/images/#{@tag.image_top}", :width => '500px'}
                %br
                %a.pure-button{:href => "/wizard/tag/image-delete?tid=#{@tag.id}&image=top"} Delete

          .pure-control-group
            %label{:for => "image_middle"} Tag image (middle):
            %input#image_middle{:type => "file", :name => "content[middle]"}
            - unless @tag.image_middle.nil?
              .pure-control-group
                %img{:src => "https://s3-eu-west-1.amazonaws.com/tagstory/stories/#{@tag.story_id}/images/#{@tag.image_middle}", :width => '500px'}
                %br
                %a.pure-button{:href => "/wizard/tag/image-delete?tid=#{@tag.id}&image=middle"} Delete

          .pure-control-group
            %label{:for => "image_bottom"} Tag image (bottom):
            %input#image_bottom{:type => "file", :name => "content[bottom]"}
            - unless @tag.image_bottom.nil?
              .pure-control-group
                %img{:src => "https://s3-eu-west-1.amazonaws.com/tagstory/stories/#{@tag.story_id}/images/#{@tag.image_bottom}", :width => '500px'}
                %br
                %a.pure-button{:href => "/wizard/tag/image-delete?tid=#{@tag.id}&image=bottom"} Delete

          %legend
            Optionally

          .pure-control-group
            %label{:for => 'question'} Question:
            %input#question{:type => "text", :name => "tag[question]", :value => @tag.question}
            %img{:src => "/images/information-icon.png", 'data-ot' => "You can ask a single question instead of making a quiz. A typicall question would be; Which road do you want to take?. When using the question button, each title of an option will be used as an answer. So when the user click the button at the bottom, a list of possible answer will be shown."}

          .pure-control-group
            %label{:for => 'travel_button'} Travel button:
            %input#travel_button{:type => "text", :name => "tag[travel_button]", :placeholder => "See where to go next", :value => @tag.travel_button}
            %img{:src => "/images/information-icon.png", 'data-ot' => "This is the bottom button, normally it says 'See where to go next'. This can be customized if needed. Typically when you ask a single question (see previous field), you would like to have the title of the travel button say something like 'See answers' or 'See roads'"}

          .pure-control-group
            %label{:for => 'skippable'} Is this tag skippable:
            %select#skippable{:name => "tag[skippable]"}
              %option{:value => "true", :selected => @tag.skippable == true} True
              %option{:value => "false", :selected => @tag.skippable == false} False

            -#%input{:type=>"checkbox", :name=>"skippable", :checked => params['skippable'] == "true"}
            -#%img{:src => "/images/information-icon.png", 'data-ot' => "Checking this box will let the reader skip the tag if he or she can't find it."}

          .pure-control-group
            %label{:for => 'endpoint'} Is this the last tag:
            %select#endpoint{:name => "tag[endpoint]"}
              %option{:value => "true", :selected => @tag.endpoint == true} True
              %option{:value => "false", :selected => @tag.endpoint == false} False

            -#%input{:type=>"checkbox", :name=>"isEndpoint", :checked => params['isEndPoint'] == "true"}
            -#%img{:src => "/images/information-icon.png", 'data-ot' => "Need to be checked on the tag that is the last tag, so that the story can end."}

          %legend
            To be implemented better later

          .pure-control-group
            %label{:for => "tag_type"} Tag technology:
            %select#tag_type{:name => "tag[tag_type]"}
              %option{:value => "gps", :selected => @tag.tag_type == 'gps'} GPS
              %option{:value => "qr", :selected => @tag.tag_type == 'qr'} QR
              %option{:value => "nfc", :selected => @tag.tag_type == 'nfc'} NFC
              %option{:value => "qr_and_nfc", :selected => @tag.tag_type == 'qr_and_nfc'} QR and NFC

          .pure-control-group
            %label{:for => "game_mode"} Game mode:
            %select{:name => "tag[game_mode]"}
              %option{:value => "none", :selected => @tag.game_mode == 'none'} None
              %option{:value => "camera", :selected => @tag.game_mode == 'camera'} Camera
              %option{:value => "quiz", :selected => @tag.game_mode == 'quiz'} Quiz

          .pure-control-group
            %a.pure-button{:href => "/wizard/story?sid=#{@tag.story_id}"} Story
            %button.pure-button{:type => "submit", :name => "save"} Save
            %a.pure-button{:href => "/wizard/action?action=add_travel_option&tid=#{@tag.id}&sid=#{@story.id}"} Add option
            %a.pure-button{:href => "/wizard/action?action=delete_tag&tid=#{@tag.id}&sid=#{@story.id}"} Delete tag
