!!!
%html
  %head
    %title Tag ##{get_tag_id}
    %link(rel="stylesheet" href="css/style.css")
    %link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
    %link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css")
    %script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
  %body
    = haml :"templates/nav"
      
    %div{:id => "content-main", :class => "container"}
      %div{:class => "panel panel-default"}
        %div{:class => "panel-heading"}
          %ul{:class => "nav nav-tabs"}
            %li{:class => "active"}
              %a{:href => "/mystories/edit/tag"}
                Tag
            %li{:class => ""}
              %a{:href => "/mystories/edit/tag/quiz"}
                Quiz
            %li{:class => ""}
              %a{:href => "/mystories/edit/tag/options"}
                Options
        %div{:class => "panel-body"}
          %form{:action => "/mystories/edit/tag", :method => "post", :role => "form", :class => "form-horizontal"}
            %fieldset
              %div{:class => "row form-group"}
                %div{:class => "col-md-2"}
                  %label{:for => "title"} Title:
                %input{:type => "text", :name => "title", :value => "#{params['title']}"}

              %div{:class => "row form-group"}
                %div{:class => "col-md-2"}
                  %label{:for => "description"} Description:
                %textarea{:name => "description"}
                  #{params['description']}

              %div{:class => "row form-group"}
                %div{:class => "col-md-2"}
                  %label{:for => "choice_description"} Choice description:
                %textarea{:name => "choice_description"}
                  #{params['choice_description']}

              %div{:class => "row form-group"}
                %div{:class => "col-md-2"}
                  %label{:for => "game_mode"} Game mode:
                %select{:name => "game_mode"}
                  %option{:value => "none"} None
                  %option{:value => "quiz"} Quiz
                  %option{:value => "camera"} Camera

              %div{:class => "row form-group"}
                %div{:class => "col-md-2"}
                  %label{:for => "game_button"} Game button:
                %input{:type => "text", :name => "game_button", :value => "#{params['text']}"}

              %div{:class => "row form-group"}
                %div{:class => "col-md-2"}
                  %label{:for => "tag_mode"} Tag type:
                %select{:name => "tag_mode"}
                  %option{:value => "gps"} GPS
                  %option{:value => "qr"} QR
                  %option{:value => "nfc"} NFC

              %div{:class => "row form-group"}
                %div{:class => "col-md-2"}
                  %label{:for => "endpoint"} Last tag:
                %input{:type=>"checkbox", :name=>"endpoint"}

              %div{:class => "row form-group buttons", :class => "col-md-5"}
                %input{:type => "submit", :name => "save", :value => "Save", :class => "btn btn-default"}
                %input{:type => "submit", :name => "add_tag", :value => "Add tag", :class => "btn btn-default"}

        %div{:class => "panel-footer"}
          = haml :"templates/tag_footer"

      %footer
        %p
        #{get_story_as_json}
