!!!
%html
  %head
    %title Create your own Story
    = haml :"templates/header_imports"
  %body
    %div{:class => ""}
      = haml :"templates/nav"

    %div{:id => "content-main", :class => "container"}
      %div{:class => "panel panel-default"}
        %div{:class => "panel-heading"}
          %h3{:class =>"panel-title"}
            Information about the story
        
        %div{:class => "panel-body"}
          %form{:action => "/mystories/edit/story", :method => "post", :role => "form", :class => "form-horizontal"}
            %fieldset
              %div{:class => "row form-group"}
                %div{:class => "col-md-2"}
                  %label{:for => "title"} Title:
                %input{:type => "text", :name => "title", :value => "#{params['title']}"}
  
              %div{:class => "row form-group"}
                %div{:class => "col-md-2"}
                  %label{:for => "author"} Author:
                %input{:type => "text", :name => "author", :value => "#{params['author']}"}

              %div{:class => "row form-group"}
                %div{:class => "col-md-2"}
                  %label{:for => "area"} Area:
                %input{:type => "text", :name => "area", :value => "#{params['area']}"}
                
              %div{:class => "row form-group"}
                %div{:class => "col-md-2"}
                  %label{:for => "agegroup"} Agegroup:
                %input{:type => "text", :name => "agegroup", :value => "#{params['agegroup']}"}
                
              %div{:class => "row form-group"}
                %div{:class => "col-md-2"}
                  %label{:for => "genre"} Genre:
                %input{:type => "text", :name => "genre", :value => "#{params['genre']}"}
                
              %div{:class => "row form-group"}
                %div{:class => "col-md-2"}
                  %label{:for => "keywords"} Keywords:
                %input{:type => "text", :name => "keywords", :hint => "Comma seperated", :value => "#{params['keywords']}"}
               
              %div{:class => "row form-group"}
                %div{:class => "col-md-2"}
                  %label{:for => "date"} Date:
                %input{:type => "datetime", :id => "datepicker", :name => "date", :value => "#{params['date']}"}
                
              %div{:class => "row form-group"}
                %div{:class => "col-md-2"}
                  %label{:for => "short_description"} Short description:
                %textarea{:name => "short_description"}
                  #{params['short_description']}
                  
              %div{:class => "row form-group"}
                %div{:class => "col-md-2"}
                  %label{:for => "description"} Description:
                %textarea{:name => "description"}
                  #{params['description']}
                    
              %div{:class => "row form-group"}
                %div{:class => "col-md-2"}
                  %label{:for => "language"} Language:
                %select{:name => "language"}
                  %option{:value => "nb_NO", :selected => params['language'] == 'nb_NO'} Bokmål
                  %option{:value => "ny_NO", :selected => params['language'] == 'ny_NO'} Nynorsk
                  %option{:value => "en", :selected => params['language'] == 'en'} English
                  
              %div{:class => "row form-group buttons"}
                %div{:class => "col-md-2"}
                  %input{:type => "submit", :name => "save", :value => "Save", :class => "btn btn-default"}
                  %input{:type => "submit", :name => "add_tag", :value => "Add tag", :class => "btn btn-default"}

        %div{:class => "panel-footer"}    
          %ul{:class => "pagination"}
            %li{:class => "active"}
              %a{:href => "/mystories/edit/story", :title => "Does not save"}
                Story
                %span{:class => "sr-only"}
                  (current)
            %li{:class => "disabled"}
              %a{:href => "#"}
                &laquo;
            - get_tags.each_with_index do | elem, index |
              %li
                %a{:href => "/mystories/edit/tag/#{elem[0]}"}
                  #{index + 1}
            %li{:class => "disabled"}
              %a{:href => "#"}
                &raquo;

        = JSON.pretty_generate(get_story)
    
    :javascript
      $(function() {
      $("#datepicker").datepicker({
      dateFormat: "dd.mm.yy"
      });
      });
