!!!
%html
  %head
    %title Stories
    = haml :"templates/header_imports"
  %body
    = haml :"templates/nav"
    .pure-g
      .pure-u-1-4
      .pure-u-1-2
        .pure-menu.pure-menu-open.pure-menu-horizontal
          %ul
            %li
              %a{:href => "/mystories/new/story"} New story
      .pure-u-1-4
    
    .pure-g
      .pure-u-1-4
      .pure-u-1-2
        .posts
          - stories.each do | value |
            - story = value["fields"]
            %section.post
              %header.post-header
                -#%img.post-avatar{:alt => "#{story["author"]}'s avatar", :height => "48", :src => get_user_image, :width => "48"}
                %h2.post-title #{story["title"]}
                %p.post-meta
                  By
                  %a.post-author{:href => "#"} #{story["author"]}
                  - if story.has_key? "genre"
                    under
                    %a.post-category.post-category-js{:href => "#"} #{story["genre"]}
                  %a.post-category.post-category-design{:href => "/mystories/edit/story/#{value["id"]}"} edit
              .post-description
                - if story.has_key? "description"
                  %p #{story["description"]}
      .pure-u-1-4
