!!!
%html
  %head
    %title Story Wizard - Tag
    = haml :"templates/header_imports"
    %link{:href => "/css/pikaday.css", :rel => "stylesheet"}
  %body
    = haml :"templates/nav"
    .pure-g
      .pure-u-1-4
      .pure-u-1-2
        %form.pure-form.pure-form-aligned{:method => "POST", :role => "form"}
          %fieldset
            %legend Story wizard

          .pure-control-group
            %label{:for => "title"} Title:
            %input{:type => "text", :name => "title", :value => "#{params['title']}"}

          .pure-control-group  
            %label{:for => "author"} Author:
            %input{:type => "text", :name => "author", :value => "#{params['author']}"}

          .pure-control-group  
            %label{:for => "release_date"} Release date:
            %input{:type => "text", :id => "datepicker", :name => "release_date", :value => "#{params['release_date']}"}
                
          .pure-control-group
            %label{:for => "agegroup"} Agegroup:
            %input{:type => "text", :name => "agegroup", :value => "#{params['agegroup']}"}
                
          .pure-control-group
            %label{:for => "genre"} Genre:
            %input{:type => "text", :name => "genre", :value => "#{params['genre']}"}
                
          .pure-control-group
            %label{:for => "description"} Description:
            %textarea{:name => "description", :rows => "6", :cols => "23"}
              #{params['description']}
                
          .pure-control-group
            %label{:for => "start_tag"} Start tag:
            %select{:name => "start_tag"}
              - params['tags'].each do | key, value |
                %option{:value => key, :selected => params['start_tag'] == key} #{key}
                
          .pure-control-group
            %label{:for => "keywords"} Keywords:
            %input{:type => "text", :name => "keywords", :hint => "Comma seperated", :value => "#{params['keywords']}"}
            
          .pure-control-group
            %label{:for => "country"} Country:
            %input{:type => "text", :name => "country", :value => "#{params['country']}"}
            
          .pure-control-group
            %label{:for => "image"} Image:
            %input{:type => "text", :name => "image", :value => "#{params['image']}"}
            
          .pure-control-group
            %label{:for => "tag_types"} Tag types:
            %select{:name => "tag_types"}
              %option{:value => "gps", :selected => params['tag_types'] == 'gps'} GPS
              %option{:value => "qr", :selected => params['tag_types'] == 'qr'} QR
              %option{:value => "nfc", :selected => params['tag_types'] == 'nfc'} NFC
              %option{:value => "qr_and_nfc", :selected => params['tap_types'] == 'qr_and_nfc'} QR and NFC
            
          .pure-control-group
            %label{:for => "game_modes"} Game modes:
            %select{:name => "game_modes"}
              %option{:value => "none", :selected => params['game_modes'] == 'none'} None
              %option{:value => "camera", :selected => params['game_modes'] == 'camera'} Camera
              %option{:value => "quiz", :selected => params['game_modes'] == 'quiz'} Quiz
            
          .pure-control-group
            %label{:for => "area"} Area:
            %input{:type => "text", :name => "area", :value => "#{params['area']}"}
            
          .pure-control-group
            %label{:for => "language"} Language:
            %select{:name => "language"}
              %option{:value => "nb", :selected => params['language'] == 'nb'} Bokmål
              %option{:value => "nn", :selected => params['language'] == 'nn'} Nynorsk
              %option{:value => "en", :selected => params['language'] == 'en'} English
            
          .pure-control-group
            %label{:for => "status"} Status:
            %select{:name => "status"}
              %option{:value => "draft", :selected => params['status'] == 'draft'} Draft
              %option{:value => "published", :selected => params['status'] == 'published'} Published
              %option{:value => "pending", :selected => params['status'] == 'pending'} Pending
            
          .pure-control-group
            %label{:for => "url"} URL:
            %input{:type => "text", :name => "url", :value => "#{params['url']}"}
               
          .pure-control-group
            %label{:for => "estimated_time"} Estimated time:
            %input{:type => "text", :name => "estimated_time", :value => "#{params['estimated_time']}"}

          .pure-control-group
            %ul.pure-paginator
              %li
                %a.pure-button.pure-button-active{:href => "/mystories/wizard/#{storyId}"} Story
              - if params.has_key? 'tags'
                - params['tags'].each_with_index do | array, index |
                  %li
                    %a.pure-button{:href => "/mystories/wizard/#{storyId}/#{array[0]}"} #{index + 1}

          .pure-control-group
            %button.pure-button{:type => "submit", :name => "save"} Save
            %button.pure-button{:type => "submit", :name => "add_tag"} Add tag
      .pure-u-1-4
        
    %script{:src => "/js/moment.min.js"}
    %script{:src => "/js/pikaday.js"}
    :javascript
      var picker = new Pikaday(
        {
          field: document.getElementById('datepicker'),
          format: 'DD.MM.YYYY',
          firstDay: 1,
          showWeekNumber: true
        }
      );                                                                                      
