!!!
%html
  %head
    %title Story Wizard - Tag
    = haml :"templates/header_imports"
    %link{:href => "/css/pikaday.css", :rel => "stylesheet"}
  %body
    = haml :"templates/nav"
    .pure-g
      .pure-u-1-4
      .pure-u-1-2
        %form.pure-form.pure-form-aligned{:method => "POST", :role => "form", :enctype => "multipart/form-data"}
          %fieldset
            %legend Story wizard - Details about the story

          .pure-control-group
            %label{:for => "title"} Title:
            %input{:type => "text", :name => "title", :value => "#{params['title']}", :required => ""}

          .pure-control-group  
            %label{:for => "author"} Author:
            %input{:type => "text", :name => "author", :value => "#{params['author']}", :required => ""}
                
          .pure-control-group
            %label{:for => "description"} Description:
            %textarea{:name => "description", :rows => "6", :cols => "23"}
              #{params['description']}
                
          .pure-control-group
            %label{:for => "genre"} Genre:
            %input{:type => "text", :name => "genre", :placeholder => "science fiction, horror", :value => "#{params['genre']}"}
                
          .pure-control-group
            %label{:for => "agegroup"} Age group:
            %select{:name => "age_group"}
              %option{:value => "e", :selected => params['age_group'] == 'e'} Everyone
              %option{:value => "k", :selected => params['age_group'] == 'k'} Kids
              %option{:value => "tw", :selected => params['age_group'] == 'tw'} Tweens
              %option{:value => "t", :selected => params['age_group'] == 't'} Teens
              %option{:value => "m", :selected => params['age_group'] == 'm'} Mature
                
          .pure-control-group
            %label{:for => "keywords"} Keywords:
            %input{:type => "text", :name => "keywords", :placeholder => "Mystery, forest, murder, lake", :value => "#{params['keywords']}"}
            
          .pure-control-group
            %label{:for => "language"} Language:
            %select{:name => "language"}
              %option{:value => "nb", :selected => params['language'] == 'nb'} Bokmål
              %option{:value => "nn", :selected => params['language'] == 'nn'} Nynorsk
              %option{:value => "en", :selected => params['language'] == 'en'} English
              %option{:value => "bg", :selected => params['language'] == 'bg'} Bulgarian
            
          .pure-control-group
            %label{:for => "image"} Cover image:
            %input{:type => "text", :name => "image", :value => "#{params['image']}"}
          .pure-control-group
            %label{:for => "cover_image"} Upload new:
            %input{:type => "file", :name => "cover_image"}

            - unless params['image'].nil? or params['image'].empty?
              .pure-control-group
                %img{:src => "https://s3-eu-west-1.amazonaws.com/tagstory/images/#{params['image']}", :width => '500px'}

          %legend
            Where is the story taking place?
            
          .pure-control-group
            %label{:for => "country"} Country:
            %input{:type => "text", :name => "country", :placeholder => "Bulgaria", :value => "#{params['country']}"}
            
          .pure-control-group
            %label{:for => "city"} City:
            %input{:type => "text", :name => "city", :placeholder => "Sofia", :value => "#{params['city']}"}

          .pure-control-group
            %label{:for => "place"} Place:
            %input{:type => "text", :name => "place", :placeholder => "Doktorska Gradina", :value => "#{params['place']}"}

          %legend
            Other
               
          .pure-control-group
            %label{:for => "estimated_time"} Estimated time:
            %input{:type => "text", :name => "estimated_time", :value => "#{params['estimated_time']}"}
            %img{:src => "/images/information-icon.png", 'data-ot' => "The estimated time used to finish the whole story. In hours (2h, 1-2h, 1,5h)."}
            
          .pure-control-group
            %label{:for => "url"} Website:
            %input{:type => "text", :name => "url", :value => "#{params['url']}"}

          %legend
            To be automated
            
          .pure-control-group
            %label{:for => "tag_types"} Tag technology used:
            %select{:name => "tag_types"}
              %option{:value => "gps", :selected => params['tag_types'] == 'gps'} GPS
              %option{:value => "qr", :selected => params['tag_types'] == 'qr'} QR
              %option{:value => "nfc", :selected => params['tag_types'] == 'nfc'} NFC
              %option{:value => "qr_and_nfc", :selected => params['tap_types'] == 'qr_and_nfc'} QR and NFC
            
          .pure-control-group
            %label{:for => "game_modes"} Game modes used:
            %select{:name => "game_modes"}
              %option{:value => "none", :selected => params['game_modes'] == 'none'} None
              %option{:value => "camera", :selected => params['game_modes'] == 'camera'} Camera
              %option{:value => "quiz", :selected => params['game_modes'] == 'quiz'} Quiz

          .pure-control-group
            %ul.pure-paginator
              %li
                %p Tags
              - if params.has_key? 'tags'
                - params['tags'].each_with_index do | array, index |
                  %li
                    %a.pure-button{:href => "/mystories/wizard/#{storyId}/#{array[0]}"} #{index + 1}

          .pure-control-group
            %a.pure-button{:href => "/mystories/wizard/#{storyId}"} Story
            %button.pure-button{:type => "submit", :name => "save"} Save
            %button.pure-button{:type => "submit", :name => "add_tag"} Add tag
            - if params['status'] == 'published'
              - status_name = 'Unpublish'
              - status = 'draft'
            - else
              - status_name = 'Publish'
              - status = 'published'
            %a.pure-button.pure-button{:href => "/mystories/wizard/#{storyId}/change-status?status=#{status}"}
              = status_name
            %a.pure-button.pure-button{:href => "/mystories/wizard/#{storyId}/overview"} Map overview
            %a.pure-button.pure-button{:href => "/mystories/wizard/#{storyId}/qr-codes"} See tags QR-code text
      .pure-u-1-4
        
    %script{:src => "/js/moment.min.js"}
    %script{:src => "/js/pikaday.js"}
    :javascript
      var picker = new Pikaday(
        {
          field: document.getElementById('datepicker'),
          format: 'DD.MM.YYYY',
          firstDay: 1,
          showWeekNumber: true
        }
      );                                                                                      
