!!!
%html
  %head
    %title Story Wizard
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %link{:href => "http://yui.yahooapis.com/pure/0.5.0/pure-min.css", :rel => "stylesheet"}
    %link{:href => "http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css", :rel => "stylesheet"}
    %link{:href => "/css/style.css", :rel => "stylesheet"}
  %body
    .pure-g
      .pure-u-1-4
      .pure-u-1-2
        %img.pure-img{:src => "/images/tagstory-logo.png"}
      .pure-u-1-4
    .pure-g
      .pure-u-1-4
      .pure-u-1-2
        .pure-menu.pure-menu-open.pure-menu-horizontal
          %ul
            %li
              %a{:href => "/"} Home
            %li
              %a{:href => "/login"} Log in
            %li.pure-menu-selected
              %a{:href => "/mystories/wizard/story"} New story
            %li
              %a{:href => "/stories"} Stories
            %li
              %a{:href => "https://github.com/Kyrremann/TagStory"} Github
      .pure-u-1-4
    .pure-g
      .pure-u-1-4
      .pure-u-1-2
        %form.pure-form.pure-form-aligned
          %fieldset
            %legend Tag wizard

          .pure-control-group
            %label{:for => "title"} Title:
            %input{:type => "text", :name => "title", :value => "#{params['title']}"}
                
          .pure-control-group
            %label{:for => "description"} Description:
            %textarea{:name => "description", :rows => "6", :cols => "23"}
              #{params['description']}
              
          .pure-control-group
            %label{:for => "question"} Question:
            %input{:type => "text", :name => "question", :value => "#{params['question']}"}
            
          .pure-control-group
            %label{:for => "tag_type"} Tag type:
            %select{:name => "tag_types"}
              %option{:value => "gps", :selected => params['tag_types'] == 'gps'} GPS
              %option{:value => "qr", :selected => params['tag_type'] == 'qr'} QR
              %option{:value => "nfc", :selected => params['tag_type'] == 'nfc'} NFC
              %option{:value => "qr_and_nfc", :selected => params['tap_type'] == 'qr_and_nfc'} QR and NFC
            
          .pure-control-group
            %label{:for => "travel_button"} Travel button:
            %input{:type => "text", :name => "travel_button", :value => "#{params['travel_button']}"}
            
          .pure-control-group
            %label{:for => "tag_image"} Tag image:
            %input{:type => "text", :name => "tag_image", :value => "#{params['tag_image']}"}
            
          .pure-control-group
            %label{:for => "game_mode"} Game mode:
            %select{:name => "game_mode"}
              %option{:value => "none", :selected => params['game_mode'] == 'none'} None
              %option{:value => "camera", :selected => params['game_mode'] == 'camera'} Camera
              %option{:value => "quiz", :selected => params['game_mode'] == 'quiz'} Quiz

          .pure-control-group
            %label{:for => "endpoint"} Last tag:
            %input{:type=>"checkbox", :name=>"isEndpoint", :checked => params['isEndPoint'] == "true"}

          .pure-control-group
            %ul.pure-paginator
              %li
                %p Options
              - params["options"].each_with_index do | array, index |
                %li
                  - @url = "/mystories/edit/story/#{storyId}/#{tagId}/#{array[0]}"
                  %a.pure-button{:href => @url} #{index + 1}
                    
          .pure-control-group
            %ul.pure-paginator
              %li
                %a.pure-button{:href => "/mystories/edit/story/#{storyId}"} Story
              - tags.each_with_index do | array, index |
                %li
                  - @url = "/mystories/edit/story/#{storyId}/#{array[0]}"
                  - @class = "#{"pure-button-active" if array[0] == tagId}"
                  %a.pure-button{:href => @url, :class => @class} #{index + 1}

          .pure-control-group
            %button.pure-button{:type => "submit", :name => "save"} Save
            %button.pure-button{:type => "submit", :name => "add_tag"} Add tag
            %button.pure-button{:type => "submit", :name => "add_option"} Add option
      .pure-u-1-4
