!!!
%html
  %head
    %title Story Wizard
    %link(rel="stylesheet" href="/css/style.css")
    %link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
    %link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css")
    %script(src="//code.jquery.com/jquery-1.11.0.min.js")
    %script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
  %body
    %div{:class => ""}
      = haml :"templates/nav"

    %div{:class => "container"}
      %div{:class => "panel panel-default"}
        %div{:class => "panel-heading"}
          %h3{:class =>"panel-title"}
            Story wizard - Part I

        %div{:class => "panel-body"}
          Welcome to the story wizard. We'll try to help you as much as we can with making a basic story.
          If you want to use more advanced features you can hit advanced after you are done with the story.
          %br
          Let's get starting. First we need some basic information about the story.
          
      %div{:class => "panel panel-default"}
        %div{:class => "panel-heading"}
          %h3{:class =>"panel-title"}
            About the story
        %div{:class => "panel-body"}
          %form{:action => "/mystories/edit/story", :method => "post", :role => "form", :class => "form-horizontal"}
            %fieldset
              %div{:class => "row form-group"}
                %div{:class => "col-md-3"}
                  %label{:for => "title", :class => "no-bold"} 
                    Every story needs a title:
                %input{:type => "text", :name => "title", :value => "#{params['title']}"}

          %div{:class => "row form-group"}
            %div{:class => "col-md-3"}
              %label{:for => "description", :class => "no-bold"}
                Write a short description of the story
            %textarea{:name => "description"}
              #{params['description']}

          %div{:class => "row form-group"}
            %div{:class => "col-md-3"}
              %label{:for => "author", :class => "no-bold"}
                Who is the author of this story?
            %input{:type => "text", :name => "author", :value => get_name}
            -# #{params['author']}
            We took the liberty to prefilled it with your profile name

          %div{:class => "row form-group"}
            %div{:class => "col-md-3"}
              %label{:for => "title", :class => "no-bold"}
                And lastely, where is the story?
            %input{:type => "text", :name => "area", :value => "#{params['area']}"}
            For example: Oslo, Sognsvann, or Frognerparken
            
          Okay, let continue on with our first tag. Tags in TagStory is what a story is made up of.
          So a Story will usually have a lot of different tags that can all be connected. So watch out
          for repeating loops. You don't want your adventurers to walk in circles.
          %br
          %br
          %a{:href => "/mystories/wizard/tag", :class => "btn btn-default"}
            Add your first tag
