!!!
%html
  %head
    %title Story Wizard
    = haml :"templates/header_imports"
    %script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBj0MzAv62ik_KGQi9WCVkSCx3qDGykiZ0")
    :javascript
      function initialize() {
        var lat = #{empty_s?(params["lat"]) ? "59.9167055" : params["lat"]}
        var long = #{empty_s?(params["long"]) ? "10.7294875" : params["long"]}
        var zoomLevel = #{empty_s?(params["lat"]) ? 12 : 17}
        var myLatLng = new google.maps.LatLng(lat, long);
        var map_options = {
          center: myLatLng,
          zoom: zoomLevel,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        
        var map_canvas = document.getElementById('map_canvas');
        var map = new google.maps.Map(map_canvas, map_options)

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          draggable: true
        });
        var infowindow = new google.maps.InfoWindow({
          content: "Option: "
        });
        
        google.maps.event.addListener(marker, 'click', function() {
          infowindow.open(map, marker);
        });
        google.maps.event.addListener(marker, 'drag', function() {
          document.getElementById('lat').value = marker.position.lat();
          document.getElementById('long').value = marker.position.lng();
        });
      }

      google.maps.event.addDomListener(window, 'load', initialize);
      
  %body
    = haml :"templates/nav"
    .pure-g
      .pure-u-1-4
      .pure-u-1-2
        %form.pure-form.pure-form-aligned{:method => "POST", :role => "form"}
          %fieldset
            %legend Option wizard

          .pure-control-group
            %label{:for => "answer"} Answer:
            %input{:type => "text", :name => "answer", :value => "#{params['answer']}"}
            
          .pure-control-group
            %label{:for => "title"} Title:
            %input{:type => "text", :name => "title", :value => "#{params['title']}"}
            
          .pure-control-group
            %label{:for => "method"} Method:
            %select{:name => "method"}
              %option{:value => "text", :selected => params['method'] == 'text'} Text
              %option{:value => "image", :selected => params['method'] == 'image'} Image
              %option{:value => "sound", :selected => params['method'] == 'sound'} Sound
              %option{:value => "map", :selected => params['method'] == 'map'} Map
                
          .pure-control-group
            %label{:for => "text"} Text:
            %input{:type => "text", :name => "text", :value => "#{params['text']}"}
            
          .pure-control-group
            %label{:for => "lat"} GPS latitude:
            %input{:type => "text", :id => "lat", :name => "lat", :value => "#{params['lat']}"}
            
          .pure-control-group
            %label{:for => "long"} GPS longitude:
            %input{:type => "text", :id => "long", :name => "long", :value => "#{params['long']}"}
            
          .pure-control-group
            %label{:for => "next"} Next:
            %select{:name => "next"}
              - tags.each do | key, value |
                %option{:value => key, :selected => params['next'] == key} #{key}

          .pure-control-group
            %ul.pure-paginator
              %li
                %p Options
              - tags[tagId]["options"].each_with_index do | array, index |
                %li
                  - @url = "/mystories/wizard/#{storyId}/#{tagId}/#{index}"
                  - @class = "#{"pure-button-active" if array[0] == optionId}"
                  %a.pure-button{:href => @url, :class => @class} #{index + 1}
                    
          .pure-control-group
            %ul.pure-paginator
              %li
                %a.pure-button{:href => "/mystories/wizard/#{storyId}"} Story
              - tags.each_with_index do | array, index |
                %li
                  - @url = "/mystories/wizard/#{storyId}/#{array[0]}"
                  - @class = "#{"pure-button-active" if array[0] == tagId}"
                  %a.pure-button{:href => @url, :class => @class} #{index + 1}

          .pure-control-group
            %button.pure-button{:type => "submit", :name => "save"} Save
            %button.pure-button{:type => "submit", :name => "add_tag"} Add tag
            %button.pure-button{:type => "submit", :name => "add_option"} Add option
            %button.pure-button{:type => "submit", :name => "delete_option"} Delete option
      .pure-u-1-4
      - if params['method'] == 'map'
        .pure-u-1-4
        .pure-u-1-2
          .pure-g
            %div{:id => "map_canvas"}
        .pure-u-1-4
