!!!
%html
  %head
    %title Story Wizard
    = haml :"templates/header_imports"
  %body
    = haml :"templates/nav"
    .pure-g
      .pure-u-1-4
      .pure-u-1-2
        %form.pure-form.pure-form-aligned{:method => "POST", :role => "form"}
          %fieldset
            %legend Tag wizard

          .pure-control-group
            %label{:for => "title"} Title:
            %input{:type => "text", :name => "title", :value => "#{params['title']}"}
                
          .pure-control-group
            %label{:for => "description"} Description:
            %textarea{:name => "description", :rows => "6", :cols => "23"}
              #{params['description']}
              
          .pure-control-group
            %label{:for => "question"} Question:
            %input{:type => "text", :name => "question", :value => "#{params['question']}"}
            
          .pure-control-group
            %label{:for => "tag_type"} Tag type:
            %select{:name => "tag_types"}
              %option{:value => "gps", :selected => params['tag_types'] == 'gps'} GPS
              %option{:value => "qr", :selected => params['tag_type'] == 'qr'} QR
              %option{:value => "nfc", :selected => params['tag_type'] == 'nfc'} NFC
              %option{:value => "qr_and_nfc", :selected => params['tap_type'] == 'qr_and_nfc'} QR and NFC
            
          .pure-control-group
            %label{:for => "travel_button"} Travel button:
            %input{:type => "text", :name => "travel_button", :value => "#{params['travel_button']}"}
            
          .pure-control-group
            %label{:for => "tag_image"} Tag image:
            %input{:type => "text", :name => "tag_image", :value => "#{params['tag_image']}"}
            
          .pure-control-group
            %label{:for => "game_mode"} Game mode:
            %select{:name => "game_mode"}
              %option{:value => "none", :selected => params['game_mode'] == 'none'} None
              %option{:value => "camera", :selected => params['game_mode'] == 'camera'} Camera
              %option{:value => "quiz", :selected => params['game_mode'] == 'quiz'} Quiz

          .pure-control-group
            %label{:for => "endpoint"} Last tag:
            %input{:type=>"checkbox", :name=>"isEndpoint", :checked => params['isEndPoint'] == "true"}

          .pure-control-group
            %ul.pure-paginator
              %li
                %p Options
              - if params.has_key? 'options'
                - params["options"].each_with_index do | array, index |
                  %li
                    - @url = "/mystories/wizard/#{storyId}/#{tagId}/#{index}"
                    %a.pure-button{:href => @url} #{index + 1}
                    
          .pure-control-group
            %ul.pure-paginator
              %li
                %a.pure-button{:href => "/mystories/wizard/#{storyId}"} Story
              - tags.each_with_index do | array, index |
                %li
                  - @url = "/mystories/wizard/#{storyId}/#{array[0]}"
                  - @class = "#{"pure-button-active" if array[0] == tagId}"
                  %a.pure-button{:href => @url, :class => @class} #{index + 1}

          .pure-control-group
            %button.pure-button{:type => "submit", :name => "save"} Save
            %button.pure-button{:type => "submit", :name => "add_tag"} Add tag
            %button.pure-button{:type => "submit", :name => "add_option"} Add option
            %button.pure-button{:type => "submit", :name => "delete_tag"} Delete tag
      .pure-u-1-4
