%nav{:class => "navbar navbar-default navbar-static-top", :role => "navigation"}
  %div{:class => "container"}
    %span{:class => "navbar-brand"}
      TagStory
    %ul{:class => "nav navbar-nav"}
      %li{:class => "#{is_active_url('/')}"}
        %a{:href => "/"}
          Home
      %li{:class => "#{is_active_url(['/mystories', '/mystories/edit/story', '/mystories/edit/tag', '/mystories/edit/tag/quiz', '/mystories/edit/tag/options'])}"}
       %a{:href => "/mystories"}
         My Stories
      %li{:class => "#{is_active_url('/stories')}"}
        %a{:href => "/stories"}
          Stories
      %li{:class => "#{is_active_url('/help')}"}
        %a{:href => "/help"}
          Help
      %li{:class => "#{is_active_url('/auth')}"}
        %a{:href => "/auth"}
          Log in
