%ul{:class => "pagination"}
  %li
    %a{:href => "/mystories/edit/story", :title => "Does not save"}
      Story
  %li{:class => "#{has_previous_tag_class}"}
    %a{:href => "#{url_for_previous_tag}"}
      &laquo;
  - get_tags.each_with_index do | elem, index |
    %li{:class => "#{is_current_tag_active(elem[0])}"}
      %a{:href => "/mystories/edit/tag/#{elem[0]}"}
        #{index + 1}
        - if is_current_tag_id(elem[0]) then
          %span{:class => "sr-only"}
            (current)
  %li{:class => "#{has_next_tag_class}"}
    %a{:href => "#{url_for_next_tag}"}
      &raquo;
